@media (max-width: 375px) {
  .final_cards {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
   
  }
}
@media (max-width: 768px) {
  .final_cards {
  
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    width: fit-content;
   
    
    
  }
  .card_layout {
    margin-right: 16px;
  }
}

@media (min-width: 769px) {
  .final_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-inline: center;
  
    
  }
    .card_layout:first-child, .card_layout:nth-child(2){
    margin-right: 16px;
  }
  }
