@media (max-width: 375px) {
  .final_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .card_layout {
    flex: 0 0 100%;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .final_cards {
    display: flex;
    flex-wrap: wrap;
  }
  .card_layout {
    display: flex;
    flex: 0 0 45%;
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .final_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    gap: 16px;
    margin-inline: auto;
  }
}
