* {
  margin: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
}

:root {
    --namesize: larger;
    --colorname: rgb(black);
    --font: arial;
    --data: rgb(255, 253, 253);
    --datafont: bolder;
    --colorname: black;
    --fontsize: lighter
}
.card_layout {
 
  width: 350px;
  height: 500px;
  background-color: rgb(191, 191, 191);
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  margin-inline: 0;
  margin-top: auto;
  margin-bottom: 16px;
  box-shadow: 0 0 7px 0 rgb(28, 28, 28);
  position:relative;
}

.intestazione {
  width: 100%;
  justify-content: space-between;
  padding: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
 
}

.data_name {
  width: 60%;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.dots {
  width: 16px;
  height: 16px;
  align-self: center;
  padding-right: 3px;
 
}

.cat {
  width: inherit;
  height: 60%;
  position:relative;
  bottom:5px;

}
.tondino {


  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

.MarioRossi {
    font-family: var(--font);
    color: var(--colorname);
    font-weight:var(--fontsize);
    font-size: larger;
}

.data {
    color: var(--data);
    
    font-family: var(--font);

}

.text {
    padding-left: 3px; 
    font-family: var(--font);
    display: flex;
    font-size: 15px;
}

.text >p {
    width: 100%;
    padding-bottom: 16px;
    
}

 .text > h4 {
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.like_comment {
    position:relative;
    bottom:10px;;
    padding-left: 20px;
}

